POSTGRES_DB=dn
POSTGRES_USER=user
POSTGRES_PASSWORD=pass

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

TELEGRAM_TOKEN=token
DISCORD_TOKEN=token

PROXY.ENABLED=false
PROXY.HOST=55.55.55.11
PROXY.PORT=55555
PROXY.USERNAME=test
PROXY.PASSWORD=test

ADMIN_TELEGRAM_USER_IDS=1050257214
ADMIN_DISCORD_USER_IDS=275213804894420992

CLOUD_CONFIG_ENABLED=false
GITHUB_OWNER=Zrezlorez
GITHUB_REPO=grow-bot
GITHUB_PATH=application.yml
GITHUB_REF=master
GITHUB_TOKEN=token